* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
}

body {
    background: linear-gradient(to bottom right, #ff9f00, #ff4b00);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    color: #ffe600;
}

button {
    background-color: #ff4b00;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e03c00;
}

form {
    margin-top: 20px;
}

label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 10px;
}

textarea, select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

textarea {
    resize: vertical;
}

.hidden {
    display: none;
}

#userInfo h2 {
    margin-top: 20px;
    font-size: 1.8rem;  
    color: #ffe600;
}

#userInfo form button {
    background-color: #ffae00;
    border-radius: 8px;
}

#userInfo form button:hover {
    background-color: #ff7b00;
}

#loginBtnContainer {
    text-align: center;
}

#confirmationMessage {
    margin: 20px;
}